<section class="section section--difference">
  <img
    src="./images/bg-tablet-pattern.svg"
    alt=""
    role="presentation"
    class="section__background"
  />
  <header class="section__header">
    <h2 class="section__title">What's different about Manage?</h2>
    <p class="section__description">
      Manage provides all the functionality your team needs, without the
      complexity. Our software is tailor-made for modern digital product teams.
    </p>
  </header>
  <ul class="section__content list">
    <li class="list__item item">
      <h3 class="item__title">Track company-wide progress</h3>
      <p class="item__description">
        See how your day-to-day tasks fit into the wider vision. Go from
        tracking progress at the milestone level all the way done to the
        smallest of details. Never lose sight of the bigger picture again.
      </p>
    </li>
    <li class="list__item item">
      <h3 class="item__title">Advanced built-in reports</h3>
      <p class="item__description">
        Set internal delivery estimates and track progress toward company goals.
        Our customisable dashboard helps you build out the reports you need to
        keep key stakeholders informed.
      </p>
    </li>
    <li class="list__item item">
      <h3 class="item__title">Everything you need in one place</h3>
      <p class="item__description">
        Stop jumping from one service to another to communicate, store files,
        track tasks and share documents. Manage offers an all-in-one team
        productivity solution.
      </p>
    </li>
  </ul>
</section>
