<section class="section section--keyvisual">
  <header class="section__header">
    <h1 class="section__title">
      Bring everyone together to build better products.
    </h1>
    <p class="section__description">
      Manage makes it simple for software teams to plan day-to-day tasks while
      keeping the larger team goals in view.
    </p>
    <a class="section__cta btn btn--primary"> Get Started </a>
  </header>
  <picture class="section__graphic">
    <img src="./images/illustration-intro.svg" alt="" />
  </picture>
</section>
