<header class="header">
  <a href="/" class="header__homelink" title="return to home">
    <img
      src="./images/logo.svg"
      alt="manage logo"
      class="header__homelink-logo"
    />
  </a>
  <button class="header__toggle toggle" aria-label="mobile-menu">
    <icon
      src="./images/icon-hamburger.svg"
      class="toggle__icon toggle__icon--burger"
    ></icon>
    <icon
      src="./images/icon-close.svg"
      class="toggle__icon toggle__icon--close"
    ></icon>
  </button>
  <nav class="header__nav nav" aria-label="header-nav">
    <ul class="nav-menu">
      <li class="nav-menu__item">
        <a class="nav-menu__link"> Pricing </a>
      </li>
      <li class="nav-menu__item">
        <a class="nav-menu__link"> Product </a>
      </li>
      <li class="nav-menu__item">
        <a class="nav-menu__link"> About Us </a>
      </li>
      <li class="nav-menu__item">
        <a class="nav-menu__link"> Careers </a>
      </li>
      <li class="nav-menu__item">
        <a class="nav-menu__link"> Community </a>
      </li>
    </ul>
    <a class="nav__cta btn btn--primary"> Get Started </a>
  </nav>
</header>
