<ul class="social {{ classname }}">
  <li class="social__item">
    <a class="social__link" title="facebook">
      <icon src="./images/icon-facebook.svg" class="social__icon"></icon>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" title="youtube">
      <icon src="./images/icon-youtube.svg" class="social__icon"></icon>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" title="twitter">
      <icon src="./images/icon-twitter.svg" class="social__icon"></icon>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" title="pinterest">
      <icon src="./images/icon-pinterest.svg" class="social__icon"></icon>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" title="instagram">
      <icon src="./images/icon-instagram.svg" class="social__icon"></icon>
    </a>
  </li>
</ul>
